<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:app="http://schemas.android.com/apk/res-auto"
          package="uk.co.amlcurran.apptcrash">

    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:label="app"
            android:allowBackup="true">

    </application>

</manifest>
